body {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #FFD700;
  background: #04BFBF;
}
@media only screen and (min-width: 769px) {
   /* declarations */
}

#container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-right: 45em;
  width: 768px;
}

#mysection1 {
  margin: auto;
  padding-top: 5em;
  padding-right: 40em;
  padding-bottom: 0;
}

header {
  text-align: center;
}

h2 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #C4FFED;
  text-align: center;

}

h3 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #6CE5ED;
  text-align: center;
}

footer {
  position: fixed;
  margin-top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
