@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-5deg)
  }
  100% {
    -webkit-transform: rotate(10deg);
  }
}

@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg)
  }
  100% {
    transform: rotate(10deg);
  }
}

.swingimg{
  -webkit-transform-origin: 50% 200px;
  transform-origin: 50% 200px;
  -webkit-animation: swinging .75s ease-in-out forwards infinite;
  animation: swinging .75s ease-in-out forwards infinite;
}

body {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background: #04BFBF;
}

header {
  text-align: center;
}

#image {
  position: relative;
}

#topSpot {
  position: absolute;
  width: 350px;
  height: 165px;
  background-color: blue;
  top: 20px;
  left: 55px;
  opacity: 0;
}

#leftSpot {
  position: absolute;
  width: 175px;
  height: 150px;
  background-color: red;
  top: 155px;
  left: 55px;
  opacity: 0;
}

#rightSpot {
  position: absolute;
  width: 175px;
  height: 150px;
  background-color: yellow;
  top: 155px;
  left: 230px;
  opacity: 0;
}

#overlayTwo {
  top: 0;
  text-align: center;
  padding-top: 5em;
  padding-left: 2em;
  padding-right: 5em;
  display: none;
  position: absolute;
  max-width: 100%;
  min-height: 100%;
  background-color: #68BF47;
}

#overlayThree {
  top: 0;
  text-align: center;
  padding-top: 5em;
  padding-left: 5em;
  padding-right: 5em;
  display: none;
  position: absolute;
  max-width: 100%;
  min-height: 100%;
  background-color: #E8780C;
}

#overlay {
  top: 0;
  text-align: center;
  padding-top: 5em;
  padding-left: 5em;
  padding-right: 5em;
  display: none;
  position: absolute;
  max-width: 100%;
  min-height: 100%;
  background-color: #FF004F;
}

h2 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #C4FFED;
  text-align: center;
}

h3 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: center;
}

h4 {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 769px;
}

#mysection1 {
  margin: auto;
  padding-top: 5em;
  padding-bottom: 5em;
}


a {
  font-size: .5em;
  font-family: 'Roboto', sans-serif;
  color: #04BFBF;
  text-align: center;
  text-decoration: none;
  text-align: center;
}

footer {
  position: relative;
  font-size: 1em;
  padding-top: .5em;
  font-family: 'Roboto', sans-serif;
  left: 0;
  bottom: 0;
  max-width: 769px;
  height: 25%;
  text-align: center;
  background-color: #C4FFED;
  z-index: -1;
}

@media only screen and (min-width: 769px) {
  #container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1366px;
  }
  #overlayTwo {
    top: 0;
    bottom: 0;
    text-align: center;
    padding-top: 10em;
    padding-left: 5em;
    padding-right: 5em;
    display: none;
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    background-color: #68BF47;
  }
  #overlayThree {
    top: 0;
    bottom: 0;
    text-align: center;
    margin-left: 41em;
    padding-top: 10em;
    padding-left: 5em;
    padding-right: 5em;
    display: none;
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    background-color: #E8780C;
  }
  #overlay {
    top: 0;
    bottom: 0;
    text-align: center;
    padding-top: 10em;
    padding-left: 5em;
    padding-right: 5em;
    margin-left: 20em;
    display: none;
    position: absolute;
    max-width: 455px;
    min-height: 100%;
    background-color: #FF004F;
    z-index: 1;
  }
  a:hover {
    color: #FF004F;
  }
  a {
    background-color: #04BFBF;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #C4FFED;
    text-align: center;
    text-decoration: none;
    text-align: center;
  }
  footer {
    background-color: #04BFBF;
    position: relative;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    bottom: 0;
    max-width: 1366px;
    text-align: center;
    margin-left: 15%;
      z-index: -1;
  }
}
