body {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #FFD700;
  background: #04BFBF;
}
header {
  text-align: center;
}

h2 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #C4FFED;
  text-align: center;
}

h3 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #6CE5ED;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 769px;
}
#mysection1 {
  margin: auto;
  padding-top: 5em;
  padding-bottom: 5em;

}
footer {
  position: fixed;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  left: 0;
  bottom: 0;
  max-width: 769px;
  text-align: center;

}

@media only screen and (min-width: 769px) {

  #container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1366px;
  }
  footer {
    position: fixed;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    bottom: 0;
    max-width: 1366px;
    text-align: center;
}
}
