body {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #FFD700;
  background: #fff;
}

#mysketch {
  display: block;
  width: 800px;
  height: 250px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#mysection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  max-width: 1366px;
  max-height: 250px;
}

#mysection section {
  padding: 1rem;
  border-style: solid;
  border-width: 2px;
}

header {
  text-align: center;
}

h1 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #CE416F;
  background: #fff;
}

h2 {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  color: #F26667;
  background: #fff;
}

a {
  color: #666;
  font-size: 1em;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

a:hover {
  color: #000;
  background: #fff;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

footer {
  position: fixed;
  margin-top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
