* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica;
  font-size: 100%;
  overflow: hidden;
  background-color: #000;
}

/* Display the page when targeted */

.page:target {
  display: block;
}

li {
  list-style-type: none;
}

a {
  border-radius: 5px;
  font-size: 10px;
  width: 1in;
  padding: 16px;
  margin-bottom: 4px;
  color: #fff;
  background-color: #333;
  text-decoration: none;
  display: inline-block;
  opacity: 0.5;
}

a:hover {
  background-color: white;
  color: #000;
}

.page {
  text-align: center;
  font-size: 10px;
  color: #333;
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

/*#container2 a {
  color: #FFF !important;
  background-color: #000 !important;
  font-size: 20px;
  width: 100%;
  height: 100% padding:16px;
  text-decoration: none;
  text-align: center;
}

#container2 {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  max-height: 100%;*/
}
#image {
  position: relative;
}

#info {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: blue;
  top: 425px;
  left: 175px;
  opacity: 0;
}

#overlay {
  top: 0;
  color: #fff;
    border-radius: 10px;
  text-align: center;
  padding-top: 5em;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 15em;
  margin-left: 10em;
  display: none;
  position: absolute;
  max-width: 100%;
  min-height: 60%;
  background-color: #4c4c4c;
  opacity: 0.5;
}
#timeLine {
  position: absolute;
  width: 170px;
  height: 170px;
  background-color: blue;
  top: 208px;
  left: 248px;
  opacity: 1;
  border-radius: 110px;

}

#overlayTwo {
  top: 0;
  color: #fff;
  text-align: center;
  padding-top: 5em;
  padding-left: 5em;
  padding-right: 5em;
  display: none;
  position: absolute;
  max-width: 1366px;
  min-height: 100%;
  background-color: #4c4c4c;
  opacity: 0.5;
}
#home {
  background-color: #000;
}

#timeline {
  background-color: #000;
  ]
}

#storyOne {
  background-color: #000;
}

#storyTwo {
  background-color: #000;
}

#storyThree {
  background-color: #000;
}

#storyOneNext {
  background-color: #000;
}

#storyTwoNext {
  background-color: #000;
}

#storyThreeNext {
  background-color: #000;
}

footer a {
  color: #FFF !important;
  background-color: #000 !important;
  footer a:hover {
    color: #888 !important;
  }
