
* {
   box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:Helvetica;
  font-size:100%;
  overflow:hidden;
  background-color: #000;
}


/* Display the page when targeted */
.page:target {
  display: block;
}

li {
  list-style-type:none;
}

 a {
  border-radius:5px;
  font-size: 10px;
  width:1in;
  padding:16px;
  margin-bottom:4px;
  color:#fff;
  background-color: #333;
  text-decoration: none;
  display:inline-block;
}

a:hover {
  background-color:white;
  color: #000;
}
.page {
  text-align: center;
  font-size: 10px;
  color:#333;
  display:none;}

#container {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  width: 100%;
  height: 100%;
}

#container2 a {
  color: #FFF !important;
  background-color: #4c4c4c !important;
  font-size: 10px;
  width:1in;
  padding: 16px;
  margin-bottom:4px;
  color:#fff;
  background-color: #333;
  text-decoration: none;
  }
    #container2 {

}

#home {
  background-color: #000;
}

#timeline {
  background-color:#000;]

}

#storyOne {
  background-color:#8787ca;
}

#storyTwo {
  background-color:#ca87c8;
}

#storyThree {
  background-color:#d7665e;
}
#storyOneNext {
  background-color:#8787ca;
}

#storyTwoNext {
  background-color:#ca87c8;
}

#storyThreeNext {
  background-color:#d7665e;
}
  footer a {
    color: #FFF !important;
    background-color: #000 !important;


  footer a:hover {
    color: #888 !important;
  }
