* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica;
  font-size: 100%;
  background-color: #000;
}

h1 {
  font-family: Helvetica;
  font-size: 35px;
  color: #fff;
}

.page {
  height: 100%;
  text-align: center;
  font-size: 20px;
  color: #333;
  min-width: 1367px;
}

#imageShip, #imageHisp, #imageNote, #imageWolf, #imageWorld {
  position: relative;
}

#overlayShip {
  position: absolute;
  width: 100px;
  height: 200px;
  background-color: blue;
  z-index: 5;
  left: 50em;
  top: 200px;
  opacity: 0;
}

#ship {
  position: absolute;
  z-index: 3;
  left: 43em;
  top: 70px;
  filter: grayscale(100%);
}

#ship:hover {
  z-index: 5;
  filter: grayscale(50%);
}

#overlayHisp {
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: blue;
  z-index: 6;
  left: 25em;
  top: 300px;
  opacity: 0;
}

#overlayNote {
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: blue;
  z-index: 6;
  left: 25em;
  top: 450px;
  opacity: 0;
}

#overlayWolf {
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: blue;
  z-index: 6;
  left: 25em;
  top: 610px;
  opacity: 0;
}

#overlayWorld {
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: blue;
  z-index: 6;
  left: 25em;
  top: 750px;
  opacity: 0;
}

#container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#page1 {
  background-color: #000;
  padding-bottom: 10em;
  background-image: url("images/pattern.png");
  background-repeat: repeat;
}

#page2 {
  margin-top: 10em;
  background-color: #000;
  background-image: url("images/pattern.png");
  background-repeat: repeat;
  padding-bottom: 800px;
}

#page3 {
  background-color: #0e0e0e;
  margin-top: 5px;
  padding-top: 100px;
  padding-bottom: 768px;
}


 #page4 {
  background-color: #0e0e0e;
  margin-top: 5px;
  padding-top: 100px;
  padding-bottom: 768px;

} 
#overlayFive {
  text-align: center;
  position: absolute;
  display: none;
  background-color: #272727;
  top: 1820px;
  padding-top: 250px;
  padding-right: 500px;
  padding-bottom: 100px;
  z-index: 6;
  opacity: .80;
  min-width: 100%;
}

#overlaySix {
  color: white;
  text-align: center;
  position: absolute;
  display: none;
  text-align: center;
  position: absolute;
  display: none;
  top: 1820px;
    width: 400px;
  padding-top: 275px;
  margin-left: 600px;
  z-index: 6;
}

#overlaySeven {
  color: white;
  text-align: center;
  position: absolute;
  display: none;
  text-align: center;
  position: absolute;
  display: none;
  top: 1820px;
    width: 400px;
  padding-top: 420px;
  margin-left: 600px;
  z-index: 6;
}

#overlayEight {
  color: white;
  text-align: center;
  position: absolute;
  display: none;
  text-align: center;
  position: absolute;
  display: none;
  top: 1820px;
    width: 400px;
  padding-top: 600px;
  margin-left: 600px;
  z-index: 6;
}

#overlayNine {
  color: white;
  text-align: center;
  position: absolute;
  display: none;
  text-align: center;
  position: absolute;
  display: none;
  top: 1820px;
  width: 400px;
  padding-top: 725px;
  margin-left: 600px;
  z-index: 6;
}

#homeimg {
  margin-top: 6em;
}

#timelinebutton {
  position: absolute;
  text-align: center;
  top: 60em;
  left: 60em;
}

#homebutton {
  position: absolute;
  text-align: center;
  top: 1500px;
  left: 54em;
}

#sharebutton {
  position: absolute;
  text-align: center;
  top: 1500px;
  left: 66em;
}

#info {
  position: absolute;
  text-align: center;
  padding-top: 1rem;
  width: 45px;
  height: 45px;
  background-color: #4c4c4c;
  color: #fff;
  border-radius: 50%;
  top: 29.5em;
  left: 11em;
  opacity: 0.5;
}

#closeTwo, a, #reset, #submit {
  border-radius: 5px;
  font-size: 10px;
  width: 1in;
  padding: 16px;
  margin-bottom: 4px;
  color: #fff;
  background-color: #333;
  text-decoration: none;
  display: inline-block;
  opacity: 0.5;
}

a:hover, #reset, #submit {
  background-color: white;
  color: #000;
  text-decoration: none;
}

#overlay {
  font-family: Helvetica;
  top: 0;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  text-align: center;
  padding-top: 5em;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 15em;
  margin-left: 10em;
  display: none;
  position: absolute;
  max-width: 400px;
  min-height: 60%;
  background-color: #4c4c4c;
  opacity: 0.95;
}

#overlayTwo {
  top: 1154px;
  left: 120px;
  color: #fff;
  text-align: center;
  padding-top: 5em;
  padding-left: 5em;
  padding-right: 5em;
  display: none;
  position: absolute;
  max-width: 1366px;
  min-height: 100%;
  filter: grayscale(100%);
}

.line {
  width: 900px;
  height: 290px;
  border-bottom: 5px solid white;
  position: absolute;
  left: 200px;
}

#lasCasas {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  top: 1250px;
  left: 200px;
  border-radius: 110px;
}

#bgimg1 {
  position: absolute;
  z-index: 2;
  left: 0;
  filter: grayscale(100%);
  opacity: 0.2;
}

img.shipp {
  animation: mover 1s infinite alternate;
}

img.shipp {
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

img.bggimg1 {
  animation: mover 1s infinite alternate;
}

img.bggimg1 {
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

img.bggimg2 {
  animation: mover .8s infinite alternate;
}

img.bggimg2 {
  animation: mover .8s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

img.bggimg3 {
  animation: mover .6s infinite alternate;
}

img.bggimg3 {
  animation: mover .6s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.hispanola:hover, .note:hover, .sheep:hover, .wolves:hover, .world:hover {
  animation: shake 0.70s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#bgimg2 {
  position: absolute;
  z-index: 1;
  left: 0;
  filter: grayscale(100%);
  opacity: 0.1;
}

#bgimg3 {
  position: absolute;
  z-index: auto;
  left: 0;
  filter: grayscale(100%);
  opacity: 0.2;
}

#adamOnis {
  color: #000;
  padding-top: 35px;
  text-align: center;
  font-size: 15px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  top: 1250px;
  left: 600px;
  border-radius: 110px;
}

#presentDay {
  color: #000;
  padding-top: 35px;
  text-align: center;
  font-size: 15px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  top: 1250px;
  left: 1000px;
  border-radius: 110px;
}

#lasCasas:hover {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #4c4c4c;
  top: 1250px;
  left: 200px;
  opacity: 1;
  border-radius: 110px;
}

footer {
  bottom: 0;
}

footer a {
  color: #FFF !important;
  background-color: #000 !important;
}

footer a:hover {
  color: #888 !important;
}