* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica;
  font-size: 100%;
  background-color: #000;
}

.page {
  height: 100%;
  text-align: center;
  font-size: 20px;
  color: #333;
  min-width: 1367px;
}

#container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#page1 {
  background-color: #000;
  margin-bottom: 10em;
}

#page2 {
  margin-top: 10em;
  background-color: #000;
}
#page3 {
  background-color: #041626;
  margin-top: 50em;

}

#homeimg {
  margin-top: 6em;
}

#timelinebutton {
  position: absolute;
  text-align: center;
  top: 60em;
  left: 60em;
}

#homebutton {
  position: absolute;
  text-align: center;
  top: 1500px;
  left: 54em;
}
#sharebutton {
  position: absolute;
  text-align: center;
  top: 1500px;
  left: 66em;
}
#info {
  position: absolute;
  text-align: center;
  padding-top: 1rem;
  width: 45px;
  height: 45px;
  background-color: #4c4c4c;
  color: #fff;
  border-radius: 50%;
  top: 29.5em;
  left: 11em;
  opacity: 0.5;
}

#closeTwo, a {
  border-radius: 5px;
  font-size: 10px;
  width: 1in;
  padding: 16px;
  margin-bottom: 4px;
  color: #fff;
  background-color: #333;
  text-decoration: none;
  display: inline-block;
  opacity: 0.5;
}

a:hover {
  background-color: white;
  color: #000;
}

#overlay {
  top: 0;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding-top: 5em;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 15em;
  margin-left: 10em;
  display: none;
  position: absolute;
  max-width: 100%;
  min-height: 60%;
  background-color: #4c4c4c;
  opacity: 0.95;
}

#overlayTwo {
  top: 1091px;
  left: 18px;
  color: #fff;
  text-align: center;
  padding-top: 5em;
  padding-left: 5em;
  padding-right: 5em;
  display: none;
  position: absolute;
  max-width: 1366px;
  min-height: 100%;

}
.line{
width: 900px;
height: 290px;
border-bottom: 5px solid white;
position: absolute;
left: 200px;
}
#lasCasas {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  top: 1250px;
  left: 200px;

  border-radius: 110px;

}
#ship {
  position: absolute;
  z-index:3;

  left: 43em;
  top: 2190px;
}
#bgimg1{
  position: absolute;
  z-index: 2;
  left: 0;
}
img.shipp {
    animation: mover 1s infinite  alternate;
}
img.shipp {
    animation: mover 1s infinite  alternate;
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }


}
img.bggimg1 {
    animation: mover 1s infinite  alternate;
}
img.bggimg1 {
    animation: mover 1s infinite  alternate;
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }

  }
  img.bggimg2 {
      animation: mover .8s infinite  alternate;
  }
  img.bggimg2 {
      animation: mover .8s infinite  alternate;
  }
  @keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-10px); }
  }
  @keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-10px); }

    }
    img.bggimg3 {
        animation: mover .6s infinite  alternate;
    }
    img.bggimg3 {
        animation: mover .6s infinite  alternate;
    }
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }


  }
#bgimg2{
  position: absolute;
  z-index: 1;
  left: 0;


}
#bgimg3{
  position: absolute;
  z-index: auto;
  left: 0;

}
#adamOnis{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  top: 1250px;
  left: 600px;

  border-radius: 110px;
}

#presentDay{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  top: 1250px;
  left: 1000px;

  border-radius: 110px;
}

#lasCasas:hover {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #4c4c4c;
  top: 1250px;
  left: 200px;
  opacity: 1;
  border-radius: 110px;
}

footer {
  bottom: 0;
}

footer a {
  color: #FFF !important;
  background-color: #000 !important;
}

footer a:hover {
  color: #888 !important;
}
