input[type=text] {
  width: 100%;
  padding: 0.25em 0.5em;
  margin: .10em 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #5B1087;
  border: none;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  margin: 1em 1em;
  cursor: pointer;
}

img {
  transform-origin: 50% 50%;
  animation: 2s rotateRight infinite linear;
}

@keyframes rotateRight {
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #4c4c4c;
  background: #fff;
}

header {
  display: block;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 3rem;
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  max-width: 1366px;
  max-height: 250px;
}

#container section {
  padding: 1rem;
}

#mysection1 {
  margin: auto;
  margin-left: 10rem;
  margin-bottom: 20rem;
}

#mysection2 {
  margin: auto;
  margin-right: 12rem;
  margin-bottom: 29rem;
}

#msgSection {
  margin: auto;
  padding-left: 35%;
  padding-right: 15%;
  margin-top: 20em;
  background-color: #fff;
  max-width: 500px;
}

#myMsg {
  font-size: 1.25em;
  color: #4c4c4c;
  font-family: 'Raleway', sans-serif;
  text-align: justify;

}

section {
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  color: #4c4c4c;
  background: #fff;
}

h2 {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  color: #4c4c4c;
  background: #fff;
}

h3 {
  font-size: .75em;
  font-family: 'Roboto', sans-serif;
  color: #5B1087;
  background: #fff;
}

a {
  color: #4c4c4c;
  font-size: 1em;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

a:hover {
  color: #500FD1;
  background: #fff;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

footer {
  position: fixed;
  margin-top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
